/* Reset and base */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Lora', serif;
  line-height: 1.6;
  background: #fafafa;
  color: #333;
}

/* Layout */
.layout {
  display: flex;
  min-height: 100vh;
}
.sidebar {
  width: 180px;
  background: #fff;
  padding: 2rem 1rem;
  border-right: 1px solid #ddd;
  position: sticky;
  top: 0;
  height: 100vh;
}
.sidebar h1 a {
  font-weight: 700;
  font-size: 0.7em;
  font-family: "Marcellus SC", sans-serif;
  margin-bottom: 2rem;
  color: #1449aa;
}
.sidebar a {
  text-decoration: none;
  color: #333;
}
.sidebar ul {
  list-style: none;
}
.sidebar li {
  margin: 1rem 0;
}
.sidebar a.active,
.sidebar a:hover {
  font-weight: bold;
  color: #000;
}

/* Main content */
.main-content {
  flex: 1;
  padding: 2rem;
}

.content h1 {
  font-weight: 590;
  font-size: 36px;
  font-family: "Marcellus SC", sans-serif;
  margin-bottom: 0.1em;
  color: #1449aa;
}

.content h2 {
  font-weight: lighter;
  font-size: 1.5em;
  font-family: "Marcellus SC", sans-serif;
  margin-bottom: 0.5em;
  margin-top: 0.8em;
  color: #1449aa;
}
.content h3 {
  font-weight: 10;
  font-size: 1.2em;
  font-family: "Marcellus SC", sans-serif;
  margin-bottom: 0.5em;
  margin-top: 0.8em;
  color: #1449aa;
}
.content p {
  margin-bottom: 1rem;
}
.content ul {
  list-style: disc inside;
  margin: 1rem 0;
}

.module{
  font-weight: normal;
  margin-top: 0.2em;
  margin-bottom: 0.2em;
}

.additional {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

/* Footer */
footer {
  margin-top: 2rem;
  font-size: 0.9rem;
  color: #666;
  text-align: left;
}

/* Responsive for mobile */
@media (max-width: 768px) {
  .layout {
    flex-direction: column;
  }
  .sidebar {
    width: 100%;
    height: auto;
    position: static;
    border-right: none;
    border-bottom: 1px solid #ddd;
  }
}

.anim{
  float: right;
}

.picture{
  float: right;
  max-width: 30%;
  max-height: 30%;
}
